:root {
    --primary-color: #e16cfc;
    --background-color: #000;
    --text-color: #fff;
    --gradient: linear-gradient(90deg, rgba(225,108,252,0.76) 0%, rgba(255,140,235,1) 100%);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: url(imgs/BREAKINGBAD\ 1.png);
    background-size: cover; /* Hace que la imagen de fondo cubra todo el espacio disponible */
    background-repeat: no-repeat;
    background-position: center; 

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(3, 1fr 1fr 2fr);
}

.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; 
    grid-template-columns: 2fr 2fr 1fr;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    transform: translateY(-10%);
}

.logo {
    grid-column: 1 / 3;
    margin-left: 2%;
}

.logo h1 {
    font-size: 3vw;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.logo span {
    font-weight: 100;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-right: 5%;
    grid-column: 3 / 4;
}

.add-movie {
    display: flex;
    column-gap: 1rem;
    padding-right: 5rem;
}

.add-movie img {
    width: 1.5vw;
    height: 2.5vh;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;
    white-space: nowrap;
    transform: translateY(.5vh);
}

#menu-icon img {
    width: 2vw;
    height: 2vh;
}

#notification-icon img {
    width: 2vw;
    height: 2.3vw;
}

#profile-icon img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: ;
}

/* Cuerpo Principal */


.hero {
    text-align: center;
    color: var(--text-color);
    position: relative;
    overflow: visible;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    margin-top: 18%;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero-content h1 {
    font-size: 6.5vw;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
    padding-right: 20%;
    white-space: nowrap;
}

.hero-content h2 {
    font-size: 1.4vw;
    margin-right: 68%;
    transform: translateY(4.5vw);
    white-space: nowrap;
}

.button-container {
    display: flex;
    gap: 2vw;
    margin-left: .4vw;
    transform: translateY(-3vw);
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button img {
    margin-right: 10%;
    width: 1.5vw;
    height: 1.5vw;
}

.button-container a {
    font-size: 1.2vw;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-primary {
    background-color: black;
    padding: 1vw 3vw;
}

.button-1 {
    white-space: nowrap;
    padding: 0 4vw;
}

/* CAROUSEL */
.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    margin-left: 35%;
    margin-bottom: 2vh;
}

.carousel-header {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 3vh;
    margin-left: calc(35% - 4.5vw);
    gap: 1%;
    white-space: nowrap;
}

.carousel-title {
    font-size: 1.7vh;
    font-weight: 100 bold;
}

.dropdown-icon img {
    width: 1vw;
    height: 1vh;
    margin-left: .8vw;
}

.carousel-container { 
    position: relative;
    border-radius: 1rem;
    margin-left: 7%;
    margin-right: 7%;
    gap: 2%;
}   

.carousel-arriba,
.carousel-abajo {
    width: 1.5vw; /* Ajuste del tamaño de las flechas */
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-arriba {
    top: -2.5vh; /* Ajuste de posición de la flecha arriba */
}

.carousel-abajo {
    bottom: -4vh; /* Ajuste de posición de la flecha abajo */
}

.carousel-inner {
    display: flex;
    flex-direction: column; /* Dirección vertical */
    height: 100%;
    width: 100%;
    margin-top: 1vh;
    row-gap: 2vh;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%; /* Altura de cada ítem del carousel */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: 15vh;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 5px;
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    height: 30%;
}

.overlay h2 {
    color: white;
    font-size: 2vh;
    text-align: center;
    margin-top: 13vh;
}



@media screen and (max-width: 900px) {
    
    body {
        background-image: url(imgs/BREAKINGBAD\ 1-1.png);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }

   .header {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        position: relative;
        margin-bottom: 20%;
   } 

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
    } 
   .logo h1 {
        font-size: 6vh;
        padding-right: 10%;
    } 

    #menu-icon {
        grid-column: 1 / 2;
        position: absolute;
        left: 0; 
        top: 0;   
        margin-top: 35%;
    }
    #menu-icon img {
        width: 200%;
        height: 100%;
    }

    #profile-icon {
        grid-column: 3 / 4;
        position: absolute;
        right: 0;
    }
    #profile-icon img {
        width: 120%;
        height: 170%;
    }

    
    .hero {
        display: flex;
        align-self: center;
    } 

    .carousel-wrapper {
        display: none;
    } 

    .add-movie, #notification-icon {
        display: none;
    } 
}